<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <main>
        <header>
            <h1>Cadastro de Alunos</h1>
        </header>
        <section id="secao">
            <form method="post" action="/alunos/cadastro" id="formulario">
                MATRICULA: <input type="text" name="matricula" id="matricula"><br><br>
                NOME: <input type="text" name="nome" id="nome"><br><br>
                EMAIL: <input type="email" name="email" id="email"><br><br>
                TURMA: <input type="text" name="turma" id="turma"><br><br>
                SERIE: <input type="number" name="serie" id="serie"><br><br>
                SEXO: <input type="text" name="sexo" id="sexo"><br><br>
                TELEFONE: <input type="tel" name="telefone" id="telefone"><br><br>
                ENDERECO: <input type="text" name="endereco" id="endereco"><br><br>
                RESPONSAVEL: <input type="text" name="responsavel" id="responsavel"><br><br>
                <input type="submit" value="Cadastrar">
            </form>
        </section>
    </main>
</body>

</html>